body{
    /* background-image: url('bg-intro-desktop.png'); */
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}
header{
    display: flex;
    justify-content: center;   
}
#header{
    width: 400px;
    line-height: 0.5rem;
    text-align: center;
    padding: 3%;
}
section{
    width: 100%;
    display: grid;
    justify-items: center;
}
h1{
    font-family: 'Poppins', sans-serif; font-size: 22px;font-weight: 400;
    color: hsl(229, 6%, 66%);
}
h2{
    font-family: 'Poppins', sans-serif;font-size: 23px;font-weight:600;
    line-height: 1rem;
}
p{
    font-family: 'Poppins', sans-serif;font-size: 13px;font-weight: 200;
    color: hsl(229, 6%, 66%);
    line-height: 1rem;
}
.text1{
    padding: 0.5px;
}
.text{
    padding-left: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns:260px 260px 260px;
    grid-gap: 10px;
    justify-items: center;
}
.item1{
    display: grid;
    justify-self: end;
    align-self: center;
}
.item3{
    display: grid;
    justify-self: start;
    align-self: center;
}
.item2{
    display: grid;
    justify-self: start;
}

.card1{
    width: 250px;
    border-top: 3px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    padding: 2%;
    background-color: white;
    box-shadow: 2px 5px 18px 1px lightgrey;
}
.card2{
    width: 250px;
    border-top: 3px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    padding: 2%;
    background-color: white;
    box-shadow: 2px 5px 18px 1px lightgrey;
}
.card3{
    width: 250px;
    border-top: 3px solid hsl(34, 97%, 64%);
    border-radius: 5px;
    padding: 2%;
    background-color: white;
    box-shadow: 2px 5px 18px 1px lightgrey;
}
.card4{
    width: 250px;
    border-top: 3px solid hsl(212, 86%, 64%);
    border-radius: 5px;
    padding: 2%;
    background-color: white;
    box-shadow: 2px 5px 18px 1px lightgrey;
}
.icon{
display: flex;
justify-content: flex-end;
}
.image{
    width: 40px;
}

@media only screen and (max-width:667px){
    header{
        margin-top: 20%;
    }
   header h1{
        font-size: 25px;
    }
  header  h2{
        font-size: 25px;
    }
    header p{
        font-size: 17px;
        text-align: justify;
        line-height: 1.5rem;
    }
    section{
        display: grid;
        justify-self: center;
        padding-top: 15%;
    }
    .grid-container{
      display: grid;
      grid-template-columns: 1fr;
    }
    
}